{
  "extends": "airbnb-base",
  "rules": {
    "import/extensions": [2, { "js": "never", "json": "always" }],
    "arrow-parens": ["error", "as-needed"],
    "no-plusplus": [0],
    "no-await-in-loop": [0],
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "ignore",
    }]
  }
}
