{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "jest",
    "prettier"
  ],
  "parser": "babel-eslint",
  "env": {
    "jest/globals": true,
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": [0],
    "react/destructuring-assignment": [0],
    "import/extensions": [2, { "js": "never", "json": "always" }],
    "import/no-extraneous-dependencies": [0],
    "import/no-unresolved": [2, { ignore: ['^react(-native)?$'] }],
    "no-plusplus": [0],
    "no-await-in-loop": [0],
    "func-names": [0],
    "prettier/prettier": "error"
  }
}
