@import "../node_modules/gitbook-plugin-theme-gestalt/src/scss/variables";

$sidebar-logo-height: 50px;
$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.6.3/fonts";

h1.center {
  text-align: center;
}
img.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@import "../node_modules/gitbook-plugin-theme-gestalt/src/scss/all";
